.summary-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #0c002b; /* Fond bleu foncé */
    color: white; /* Couleur du texte en blanc */
    text-align: left; /* Aligner le texte à gauche */
    padding: 2rem;
  }
  
  .summary-page h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    align-self: center; /* Centrer uniquement le titre */
  }
  
  @media (max-width: 768px) {
    .summary-page {
      padding: 1.5rem;
    }
  
    .summary-page h1 {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 480px) {
    .summary-page {
      padding: 1rem;
    }
  
    .summary-page h1 {
      font-size: 1.5rem;
    }
  }